@import url(./fonts/tm-icomoon.ttf);
@import url(./fonts/icomoon.woff);
@import url(./fonts/CWB0XYA8bzo0kSThX0UTuA.woff2);
@import url(./fonts/PTSansBold-ext.woff);
@import url(./fonts/fontawesome-webfont.woff);
@import url(./fonts/PIPMHY90P7jtyjpXuZ2cLFtXRa8TVwTICgirnJhmVJw.woff2);

* {padding: 0; margin: 0; font: inherit; color: inherit; box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
}
body {font-size: 14px;}

ul, li {list-style: none;}
a:link,
a:hover,
a:active, 
a:focus,
a:visited {text-decoration: none;}

@font-face {
font-family: 'myFont-PTSans';   /* 字体名称 */
src: url('./fonts/PTSansBold-ext.woff');       /* 字体源文件 */
}
@font-face {
font-family: 'FontAwesome';   /* 字体名称 */
src: url('./fonts/fontawesome-webfont.woff');       /* 字体源文件 */
}
@font-face {
font-family: 'myFont-icons';   /* 字体名称 */
src: url('./fonts/PIPMHY90P7jtyjpXuZ2cLFtXRa8TVwTICgirnJhmVJw.woff2');       /* 字体源文件 */
}
@font-face {
font-family: 'myFont-1';   /* 字体名称 */
src: url('./fonts/icomoon.woff');       /* 字体源文件 */
}
@font-face {
font-family: 'myFont-2';   /* 字体名称 */
src: url('./fonts/tm-icomoon.ttf');       /* 字体源文件 */
}

.fl {float: left;}
.fr {float: right;}
.c {text-align: center;}
.af:after {content: ""; display: block; clear: both;}
.vm {display: inline-block; height: 100%; vertical-align: middle; border: 1px solid red;}
.ib {display: inline-block; position: relative;}

.wrap {max-width: 1100px; padding: 0 1em; margin: 0 auto; position: relative;}

.div-2:after,
.div-3:after,
.div-4:after,
.div-5:after {content: ""; display: block; clear: both;}

.div-2 > * {float: left; width: 50%;}
.div-3 > * {float: left; width: 33.33%;}
.div-4 > * {float: left; width: 25%;}
.div-5 > * {float: left; width: 20%;}

.my-carousel {position: relative;  max-height: 550px; overflow: hidden;}
.my-carousel .ruler-img {width: 100%; display: block;}
.my-carousel ul {width: 100%; height: 100%; position: absolute; left: 0; top: 0; white-space: nowrap;}
.my-carousel ul li {width: 100%; height: 100%; display: inline-block; vertical-align: top; background: no-repeat center; background-size: cover;}
.my-carousel ul li a {display: block; height: 100%; background: rgba(0,0,0,.5);}
.my-carousel .btn-box {width: 100%; position: absolute; left: 0; bottom: 20px; text-align: center;}
.my-carousel .btn-box a {display: inline-block; width: 60px; height: 60px; margin: 0 5px; position: relative; z-index: 50;}
.my-carousel .btn-box a:nth-child(1) {background: url(../img/thumb-1.jpg) no-repeat center/cover;}
.my-carousel .btn-box a:nth-child(2) {background: url(../img/thumb-2.jpg) no-repeat center/cover;}
.my-carousel .btn-box a:nth-child(3) {background: url(../img/thumb-3.jpg) no-repeat center/cover;}
.my-carousel .btn-box a:nth-child(1):after {content: '1';}
.my-carousel .btn-box a:nth-child(2):after {content: '2';}
.my-carousel .btn-box a:nth-child(3):after {content: '3';}
.my-carousel .btn-box a:after {display: none; color: #fff; font-size: 36px; line-height: 60px; font-weight: bold; width: 100%; height: 100%; background: rgba(0,0,0,.9); position: absolute; top: 0; left: 0;}
.my-carousel .btn-box a.on:after {display: block;}
.my-carousel .direction {position: absolute; left: 10px; top: 50%; margin: -50px 150px 0px 150px; cursor: pointer; border-radius: 4px; z-index: 50;
  transition: .3s all;
}
.my-carousel .direction:hover {background: rgba(0,0,0,.5);}
.my-carousel .direction.prev {}
.my-carousel .direction.next {left: auto; right: 10px;}

.prev-view {width: 100%; height: 100%; position: absolute; z-index: 20; top: 0; left: 0; color: #fff;}
.prev-view nav {width: auto; height: 76px; position: relative; z-index: 50; margin-bottom: 150px;}
.prev-view nav .fr ul {padding-top: 36px;}
.prev-view nav .fr ul li {width: auto; margin-left: 51px; display: inline-block; text-align: center;}
.prev-view nav .fr ul li a {color: #fff; position: relative;}
.prev-view nav .fr ul li a.on {border-bottom: 3px solid #fff; padding-bottom: 10px;}
.prev-view nav .fr ul li a:hover {border-bottom: 3px solid #fff; padding-bottom: 10px;}
.prev-view .container { height: 100%; position: relative;}

.text-box {width: 100%; height: 100%; text-align: center; -position: absolute; -left: 10px; -top: 200px; letter-spacing:-2px; font-family: '\9ED1\4F53',Arial,sans-serif;}
.text-box p {font-size: 60px; line-height: 60px; -text-transform: uppercase; font-weight: bolder; word-spacing: -10px;}
.text-box div {font-size: 23px; padding-top: 6px; font-weight: 600; letter-spacing:-2px; font-family: Arial,sans-serif;}
.text-box span {display: inline-block; font-family: Arial,sans-serif; letter-spacing:0px; margin-top: 20px; color: #616161;}

.text-box-sm {width: 100%; height: 100%; text-align: center; letter-spacing:-1px; font-family: '\9ED1\4F53',Arial,sans-serif; padding-top: 20px;}
.text-box-sm p {font-size: 23px; line-height: 23px; font-weight: bolder; word-spacing: -10px;}
.text-box-sm span {display: inline-block; font-family: Arial,sans-serif; letter-spacing:0px; margin-top: 8px; color: #616161;}

.website {width: 100%; height: auto; color: #373737; position: relative; padding-top: 80px;}
.website .text {color: #fff; font-size: 20px; padding: 10px 0 0 10px;}
.website .video {width: 940px; height: 380px; position: relative; background: #ddd; margin: 50px auto; background-position: center; background-size: cover;}
.website .video .video-icon {width: 940px; height: 48px; position: absolute; top: 50%; margin-top: -24px;}
.website .video:hover .video-icon svg path:first-child {fill: red;}
.website .row {text-align: center; padding: 0 125px;}
.website .row>div {padding: 0 60px;}

.projects {width: 100%; height: auto; color: #373737; position: relative; margin-top: 80px; background: #ddd;}
.projects .container {padding: 50px 0;}
.projects .container .text-box {}
.projects .container .text-box .tab-title>a {display: inline-block; width: auto; line-height: 24px; margin: 0 20px; color: #333; font-family: '\9ED1\4F53',Arial,sans-serif; border-bottom: 2px solid #333;}
.projects .container .text-box .tab-title>a.on {color: #608a29; border-bottom: 2px solid transparent;}
.projects .container .text-box .tab-title>a:hover {color: #608a29; border-bottom: 2px solid transparent;}
.projects .container .tab-con>div {display: none;}
.projects .container .tab-con>div ul {width: 100%; height: 100%;}
.projects .container .tab-con>div ul li {margin-top: 20px;}
.projects .container .tab-con>div ul li a {}

.news {width: 100%; height: auto; position: relative; padding-top: 0px;}
.news .container {padding: 50px 0;}
.news .container .row {padding-top: 30px;}
.news .container .row .thumbnail {min-width: 340px; max-width: 364px; text-align: center; background: #e1e1e1; padding: 0px; border: none;}
.news .container .row .thumbnail img {}
.news .container .row .thumbnail .caption {position: relative; padding-bottom: 40px; border-bottom: 2px solid #a2a2a2;}
.news .container .row .thumbnail .caption h3 {font-weight: bold;}
.news .container .row .thumbnail .caption h4 {font-weight: bold; color: #fff; background: #a2a2a2; display: inline-block; padding: 10px; position: absolute; bottom: -10px; left: 50%; margin-left: -61px;}

footer {background: #000; text-align: center; padding-bottom: 50px; font-family: 'myFont-PTSans',FontAwesome,'myFont-icons',sans-serif;}
footer .container p {display: inline-block; color: #fff; padding: 5px 25px; margin-top: 50px; font-size: 35px; line-height: 55px; font-weight: bolder; word-spacing: -10px; background: #658c29;}
footer .container span {display: block; color: #fff; line-height: 65px; font-family: sans-serif;}
footer .container a {display: inline-block; width: 53px; height: 53px; border-radius: 50%; background: #658c29; position: relative; margin: 0 10px; font-size: 27px; color: #fff; line-height: 53px;}
footer .container .row a:nth-child(1):after {content: "\f09a";}
footer .container .row a:nth-child(2):after {content: "\f099";}
footer .container .row a:nth-child(3):after {content: "\f0d5";}
footer .container .row a:nth-child(4):after {content: "\f0e1";}
footer .container .row a:after {display: inline-block; width: 100%; height: 100%;}
footer .container .row a:hover {background: #a2a2a2;}
 