html,body,#app {height: 100%;}

.navbar-brand .db-img {width: 20px; display: inline-block; vertical-align: middle; position: relative; top: -2px;}

.admin-nav {width: 180px; height: 100%; position: absolute; left: 0; top: 0; white-space: nowrap; background: #535a6d; color: #dae1f4; display: inline-block; vertical-align: top;}
.admin-nav .glass-border {height: 40px; line-height: 40px; border-top: 1px solid rgba(255,255,255,.1); border-bottom: 1px solid rgba(0,0,0,.15); padding: 0 12px 0 12px; cursor: pointer;}
.admin-nav .glass-border.on {background: rgba(0,0,0,.12);}
.admin-nav ul {}
.admin-nav ul li .glass-border .fr {display: none;}
.admin-nav ul li .glass-border:hover .fr {display: block;}
.admin-nav .glass-border .fr .glyphicon {margin-left: 4px;}
.admin-nav .auto-scroll {top: 40px;}

.admin-nav.admin-nav-lighter {background: #eee; border-right: 1px solid #ccc; color: inherit;}
.admin-nav.admin-nav-lighter .glass-border {border-top: 1px solid #fff; border-bottom: 1px solid #ccc;}
.admin-nav.admin-nav-lighter .glass-border.on {background: rgba(0,0,0,.1);}


#frame-container {width: 100%; position: absolute; left: 0; top: 50px; bottom: 0;}
#frame-container iframe {width: 100%; height: 100%; vertical-align: top;}