* {margin: 0; padding: 0; font: inherit; color: inherit; box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
}
body {font-size: 28px; color: #333;}
ul,li {list-style: none;}
a {text-decoration: none;}

.fl {float: left;}
.fr {float: right;}
.ib {display: inline-block; vertical-align: middle; position: relative;}
.vm {display: inline-block; height: 100%; vertical-align: middle;}
.space {padding: 20px;}